/*complet for style layout page*/

/* [INIT LOGIN] */

.center-page-form{
    margin-top:25vh;
    border-radius: 5px;
    box-shadow: 3px 2px 1px 1px #ccc;
    padding:10px;
}


/*[END LOGIN]*/

/* btns*/

.space-btn{
    margin-top: 10vh;
    margin-bottom: 5vh;
}